@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-app-bg text-app-text font-sans;
    overscroll-behavior-y: none;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #141416; 
}
::-webkit-scrollbar-thumb {
  background: #3F3F46; 
  border-radius: 10px;
}